<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<title>Promptly: Flesh out your characters!</title>
	<style>
		body {padding: 30px}
		ul {list-style-type: none;}
		li {white-space: pre-line;
			font-size: 25px;}
	</style>
</head>

<body>
	<img src='/templates/img/logo_small.png' alt='Promptly Logo'>
	<h1>Promptly</h1>
	<h2>Flesh out your characters!</h2>
	<br />
	<br />
	<p>Choose prompt type below:</p>
	<ul>
		<li><a href='/one'>Single Character</a></li>
		<br/>
		<li><a href='/two'>Two Characters</a></li>
		<br/>
		<li><a href='/three'>Three Characters</a></li>
		<br/>
		<li><a href='/dialogue'>Dialogue</a></li>
		<br/>
		<li><a href='/drawing'>Drawing</a></li>
		<br/>
		<li><a href='/prose'>Prose</a></li>
	</ul>


</body>

</html>
